<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>☆ I LOVE 營養 ☆</title>
</head>
</head>
<a href="/success" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">回主頁</a>
<h1>HI! 親愛的營養豬先生</h1>
<h2>這是您這周的營養攝取狀況</h2>
<br>
<br>
<iframe src="http://35.221.160.136:5601/app/kibana#/dashboard/70ff4190-c417-11ea-99f6-b7103fc61019?embed=true&_g=(refreshInterval:(pause:!t,value:0),
time:(from:'2020-05-31T16:00:00.000Z',to:'2020-06-07T16:00:00.000Z'))&_a=(description:'',filters:!(),fullScreenMode:!f,
options:(hidePanelTitles:!f,useMargins:!t),panels:!((embeddableConfig:(),gridData:(h:11,i:'1',w:16,x:0,y:0),
id:'658eca10-c417-11ea-99f6-b7103fc61019',panelIndex:'1',type:visualization,version:'7.2.0'),(embeddableConfig:(vis:(legendOpen:!f)),
gridData:(h:11,i:'2',w:16,x:32,y:0),id:'516273c0-c417-11ea-99f6-b7103fc61019',panelIndex:'2',type:visualization,version:'7.2.0'),
(embeddableConfig:(vis:(legendOpen:!f)),gridData:(h:11,i:'3',w:16,x:16,y:0),id:'44bf96c0-c417-11ea-99f6-b7103fc61019',panelIndex:'3',
type:visualization,version:'7.2.0'),(embeddableConfig:(),gridData:(h:15,i:'4',w:48,x:0,y:11),id:e433e050-c4d3-11ea-b6a6-3de1441a52ad,panelIndex:'4',
type:visualization,version:'7.2.0'),(embeddableConfig:(),gridData:(h:14,i:'5',w:48,x:0,y:43),id:c6ffb240-c4cc-11ea-b6a6-3de1441a52ad,panelIndex:'5',
type:visualization,version:'7.2.0'),(embeddableConfig:(),gridData:(h:17,i:'6',w:48,x:0,y:26),id:'08a28180-c4d4-11ea-b6a6-3de1441a52ad',panelIndex:'6',
type:visualization,version:'7.2.0'),(embeddableConfig:(),gridData:(h:15,i:'7',w:24,x:0,y:57),id:b93da8a0-c4d7-11ea-b6a6-3de1441a52ad,panelIndex:'7',
type:visualization,version:'7.2.0'),(embeddableConfig:(),gridData:(h:15,i:'8',w:24,x:24,y:57),id:'22ee3270-c4d7-11ea-b6a6-3de1441a52ad',panelIndex:'8',
type:visualization,version:'7.2.0'),(embeddableConfig:(),gridData:(h:15,i:'9',w:24,x:0,y:72),id:'6e053830-c4d7-11ea-b6a6-3de1441a52ad',panelIndex:'9',
type:visualization,version:'7.2.0'),(embeddableConfig:(),gridData:(h:15,i:'10',w:48,x:0,y:87),id:'5ea875e0-c4d8-11ea-b6a6-3de1441a52ad',panelIndex:'10',
type:search,version:'7.2.0'),(embeddableConfig:(),gridData:(h:15,i:'11',w:24,x:24,y:72),id:'65d97cb0-c4dd-11ea-b6a6-3de1441a52ad',panelIndex:'11',
type:visualization,version:'7.2.0')),query:(language:kuery,query:''),timeRestore:!f,title:%E5%91%A8,viewMode:view)" height="980" width="100%"></iframe>
<h3>感謝您使用本系統，預祝您身體健康！</h3>
</body>
</html>