[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
"flask" = '*'
"requests" = '*'
"pymysql" = '*'
"jupyter"= "*"
"flask_bootstrap"='*'
"sqlalchemy" = '*'
'flask_login'='*'
'line-bot-sdk'='*'
'LineBotApi' = '*'
"keras" ='==2.4.2'
"pillow" = '*'
"matplotlib" = '*'
"pandas" = '*'
"opencv-python" = '*'
"pencv-contrib-python" = '*'
"tensorflow" = '==2.1.0'



[requires]
python_version = "3.7"
