<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<link href="static/css/login_try.css" rel="stylesheet">
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
<script src="static/js/login_try.js"></script>
<!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
<script src="static/js/login_try.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- All the files that are required -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">回主頁</a>

<!-- Where all the magic happens -->
<!-- LOGIN FORM -->
<!--<div class="text-center" style="padding:50px 0">-->
<!--	<div class="logo">登入</div>-->
<!--	&lt;!&ndash; Main Form &ndash;&gt;-->
<!--	<div class="login-form-1">-->
<!--		<form id="login-form" class="text-left">-->
<!--			<div class="login-form-main-message"></div>-->
<!--			<div class="main-login-form">-->
<!--				<div class="login-group">-->
<!--					<div class="form-group">-->
<!--						<label for="lg_username" class="sr-only">＊＊會員帳號＊＊</label>-->
<!--						<input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username">-->
<!--					</div>-->
<!--					<div class="form-group">-->
<!--						<label for="lg_password" class="sr-only">＊＊會員密碼＊＊</label>-->
<!--						<input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password">-->
<!--					</div>-->
<!--					<div class="form-group login-group-checkbox">-->
<!--						<input type="checkbox" id="lg_remember" name="lg_remember">-->
<!--						<label for="lg_remember">記住我</label>-->
<!--					</div>-->
<!--				</div>-->
<!--					<button type="submit" class="login-button"><a href="/create"></a><i class="fa fa-chevron-right"></i></button>-->
<!--			</div>-->
<!--			<div class="etc-login-form">-->
<!--				<p>忘記密碼 <a href="#">click here</a></p>-->
<!--				<p>註冊新會員 <a href="/create">create new account</a></p>-->
<!--			</div>-->
<!--		</form>-->
<!--	</div>-->
<!--	&lt;!&ndash; end:Main Form &ndash;&gt;-->
<!--</div>-->

<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
	<div class="logo">忘記密碼</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="register-form" class="text-left" method='post' action="/click">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="reg_username" class="sr-only">請輸入信箱</label>
						<input type="text" class="form-control" id="reg_username" name="nname" placeholder="username">
					</div>

				</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
<!--				<a href="/home" class="login-button" role="button" ><i class="fa fa-chevron-right"></i></a>-->
			</div>
			<div class="etc-login-form">
				<p>已有帳戶 <a href="/login">login here</a></p>
                <p>註冊新帳戶 <a href="/create">login here</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>

<!--&lt;!&ndash; FORGOT PASSWORD FORM &ndash;&gt;-->
<!--<div class="text-center" style="padding:50px 0">-->
<!--	<div class="logo">forgot password</div>-->
<!--	&lt;!&ndash; Main Form &ndash;&gt;-->
<!--	<div class="login-form-1">-->
<!--		<form id="forgot-password-form" class="text-left">-->
<!--			<div class="etc-login-form">-->
<!--				<p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>-->
<!--			</div>-->
<!--			<div class="login-form-main-message"></div>-->
<!--			<div class="main-login-form">-->
<!--				<div class="login-group">-->
<!--					<div class="form-group">-->
<!--						<label for="fp_email" class="sr-only">Email address</label>-->
<!--						<input type="text" class="form-control" id="fp_email" name="fp_email" placeholder="email address">-->
<!--					</div>-->
<!--				</div>-->
<!--				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>-->
<!--			</div>-->
<!--			<div class="etc-login-form">-->
<!--				<p>already have an account? <a href="#">login here</a></p>-->
<!--				<p>new user? <a href="#">create new account</a></p>-->
<!--			</div>-->
<!--		</form>-->
<!--	</div>-->
<!--	&lt;!&ndash; end:Main Form &ndash;&gt;-->
</div>