<!doctype html>
<html lang="en">
<head>
	<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
	<link href="static/css/login_try.css" rel="stylesheet">
	<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
	<script src="static/js/login_try.js"></script>
	<!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
	<script src="static/js/login_try.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<!-- All the files that are required -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

</head>
<!-- Where all the magic happens -->
<!-- LOGIN FORM -->
<body>
	<a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">回主頁</a>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul class="flash">
		   {% for message in messages %}
			  <li>{{ message }}</li>
		   {% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	<div class="text-center" style="padding:50px 0">
		<div class="logo">登入</div>
		<!-- Main Form -->
		<div class="login-form-1">
			<form id="login-form" class="text-left" method='post' action={{url_for('login_try')}}>
				<div class="login-form-main-message">

				</div>
				<div class="main-login-form">
					<div class="login-group">
						<div class="form-group">
							<label for="email" class="sr-only">＊＊會員帳號＊＊</label>
							<input type="text" class="form-control" id="email" name="email" placeholder="email">
	<!--						<button type='submit'>Submit</button>-->
						</div>
						<div class="form-group">
							<label for="password" class="sr-only">＊＊會員密碼＊＊</label>
							<input type="password" class="form-control" id="password" name="password" placeholder="password">
						</div>
						<div class="form-group login-group-checkbox">
							<input type="checkbox" id="lg_remember" name="lg_remember">
							<label for="lg_remember">記住我</label>
						</div>
					</div>
						<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
				</div>
				<div class="etc-login-form">
					<p>忘記密碼 <a href="/click">click here</a></p>
					<p>註冊新會員 <a href="/create">create new account</a></p>
				</div>
			</form>
		</div>
		<!-- end:Main Form -->
	</div>
	</body>
</html>

