<!DOCTYPE html>
<html lang="en">
<head>
  <title>I LOVE 營養</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <a href="/success" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">回主頁</a>
</head>
<body>

<div class="jumbotron text-center">
  <h1>為您推薦食譜</h1>
  <p>推薦僅供參考，切勿較真，本站不付任何健康責任!!!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>推薦食譜A</h3>
      <p>減肥首選</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>推薦食譜B</h3>
      <p>增肌首選</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>食譜推薦C</h3>
      <p>健康首選</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>

</body>
</html>