<!DOCTYPE html>
<html lang="en">
 <head>
  <title>個人調查表</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


 </head>
 <body>
     <div class="container">
         <form method="post" action="/survey2" class="was-validated">
            <h2>運動狀況調查</h2>
            <div class="form-group">
              <p>平常活動狀況:</p>
              <select class="custom-select" name="daily_activity" required>
                <option value="">Open this select menu</option>
                <option value="da01">我是一般人</option>
                <option value="da02">學生、久坐上班族</option>
                <option value="da03">勞力工作人</option>
              </select>
              <div class="invalid-feedback">Example invalid custom select feedback</div>
            </div>

            <div class="form-group">
              <p>平常運動類型:</p>
              <select class="custom-select" name="daily_sport" required>
                <option value="">Open this select menu</option>
                <option value="ds01">沒特別</option>
                <option value="ds02">有氧居多</option>
                <option value="ds03">重訓居多</option>
              </select>
              <div class="invalid-feedback">Example invalid custom select feedback</div>
            </div>

            <div class="form-group">
              <p>運動頻率:</p>
              <select class="custom-select" name="sport_freq" required>
                <option value="">Open this select menu</option>
                <option value="sf01">基本上沒在運動</option>
                <option value="sf02">每週 1~2 次</option>
                <option value="sf03">每週 3 次以上</option>
              </select>
              <div class="invalid-feedback">Example invalid custom select feedback</div>
            </div>

            <br>

            <h2>飲食狀況調查</h2>
            <div class="form-group">
              <p>飲食狀況:</p>
              <select class="custom-select" name="eat_condition" required>
                <option value="">Open this select menu</option>
                <option value="ec01">葷素都吃</option>
                <option value="ec02">只吃素食</option>
              </select>
              <div class="invalid-feedback">Example invalid custom select feedback</div>
            </div>

            <div class="form-group">
              <p>外食頻率:</p>
              <select class="custom-select" name="eatingout_freq" required>
                <option value="">Open this select menu</option>
                <option value="eof01">幾乎每餐</option>
                <option value="eof02">一天1~2餐</option>
                <option name="eof03">幾乎不外食</option>
              </select>
              <div class="invalid-feedback">Example invalid custom select feedback</div>
            </div>

            <label>飲食過敏:</label>
            <div>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="not_eat01" value="ne01">
               <label class="form-check-label" for="inlineCheckbox1">沒有過敏食物或下列選項都沒有</label>
             </div>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="not_eat02" value="ne02">
               <label class="form-check-label" for="inlineCheckbox2">海鮮類</label>
             </div>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="not_eat03" value="ne03">
               <label class="form-check-label" for="inlineCheckbox3">豆類</label>
             </div>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="not_eat04" value="ne04">
               <label class="form-check-label" for="inlineCheckbox4">堅果類</label>
             </div>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="checkbox" id="inlineCheckbox5" name="not_eat05" value="ne05">
               <label class="form-check-label" for="inlineCheckbox5">牛奶</label>
             </div>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="checkbox" id="inlineCheckbox6" name="not_eat06" value="ne06">
               <label class="form-check-label" for="inlineCheckbox6">芋頭</label>
             </div>
            </div>

            <br>

            <h2>身體狀況調查</h2>
            <div class="form-group">
              <p>睡眠狀況:</p>
              <select class="custom-select" name="sleep_condition" required>
                <option value="">Open this select menu</option>
                <option value="sc01">正常睡眠</option>
                <option value="sc02">夜醒頻繁</option>
                <option value="sc03">失眠</option>
              </select>
              <div class="invalid-feedback">Example invalid custom select feedback</div>
            </div>

            <div class="form-group">
              <p>精神狀況:</p>
              <select class="custom-select" name="mental_condition" required>
                <option value="">Open this select menu</option>
                <option value="mc01">沒特別</option>
                <option value="mc02">精神飽滿</option>
                <option value="mc03">頭昏腦脹</option>
              </select>
              <div class="invalid-feedback">Example invalid custom select feedback</div>
            </div>

            <div class="form-group">
              <p>排便狀況:</p>
              <select class="custom-select" name="defecation_condition" required>
                <option value="">Open this select menu</option>
                <option value="dc01">每天 1~2 次</option>
                <option value="dc02">兩天 1 次</option>
                <option value="dc03">便秘</option>
              </select>
              <div class="invalid-feedback">Example invalid custom select feedback</div>
            </div>



            <button type="submit" class="btn btn-primary">Finish</button>

         </form>
     </div>

 </body>
</html>