<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>身體狀況調查表</h2>
<!--  <form action="/action_page.php">-->
  <form method="post" action="/test">
    <div class="form-group">
      <label for="user">姓名:</label>
      <input type="text" class="form-control" id="user" placeholder="Enter Your Name" name="user">
    </div>

    <div class="form-group">
      <p>性別:</p>
        <select class="form-control form-control-sm" name="sex">
            <option name="m">Male</option>
            <option name="f">Female</option>
        </select>
    </div>

    <div class="form-group">
      <label for="age">年紀:</label>
      <input type="text" class="form-control" id="age" placeholder="Enter Your Age" name="age">
    </div>

    <div class="form-group">
      <label for="height">身高:</label>
      <input type="text" class="form-control" id="height" placeholder="Enter Your Height" name="height">
    </div>

    <div class="form-group">
      <label for="weight">體重:</label>
      <input type="text" class="form-control" id="weight" placeholder="Enter Your Weight" name="weight">
    </div>

    <div class="form-group">
      <p>飲食目標設定:</p>
        <select class="form-control form-control-sm">
            <option>一般</option>
            <option>減肥</option>
            <option>健身</option>
        </select>
    </div>
<!--    <button type='submit'>Submit</button>-->
    <a href="https://google.com" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Next</a>
  </form>
</div>

</body>
</html>