<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>個人調查表</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    <meta http-equiv="refresh" content="5;url=http://127.0.0.1:5000/home">

</head>
<body>
    <div class="jumbotron text-center">
      <h1 class="display-3">Thank You!</h1>
      <br>
      <p class="lead"><strong>我們必續持續的相信自己，而這背後的推力來自於個人對健康上的堅持</strong></p>
      <hr>
      <br>
      <p>
        請稍待片刻~~~系統將會於5秒後自動跳轉回首頁...
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-sm" href="http://127.0.0.1:5000/home" role="button">回到首頁</a>
      </p>
    </div>

</body>
</html>